<%- include('partials/layout.ejs') %>
<title>About Us | Bluenovate</title>
<div class="container">
    <h1 class="mt-4">About Us</h1>
    <p style="font-size: 20px;">
              At Bluenovate our main priority is to bring to you Various
              Sources of info by highlighting entertainment, mouthwatering news and quick
              Knowledge ranging from simple unknown life hacks to world
              News even to the entertainment industry, we got you covered and are here to serve you much more.
              Like what you see? Oh well, we’re just starting. Welcome!!

    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<%- include('partials/footer.ejs') %>