<%- include('partials/layout.ejs') %>
<title>Contact Us | Bluenovate</title>
<div class="container">
    <h1 class="mt-4 mb-4">Contact Us</h1>
    <p style="font-size: 21px;"><b>Email</b>: bluenovate@gmail.com</p>
    <p style="font-size: 21px;"><b>Phone</b>: +2348135473741, +2349073785342</p>
    <a href="mailto:bluenovate@gmail.com" class="btn btn-md" style="margin-top: 30px; background-color: #022d5a;; color: #fff;">Send A
        Message <i class="fa fa-paper-plane" style="color: white;"></i></a>

    <h1 class="mt-4 mb-4">Follow Us</h1>
    <a href="#" style="color:#022d5a; font-size: 40px; margin-right: 15px;"><i
            class=" fa fa-facebook" style="color:#022d5a;"></i></a>
    <a href="https://instagram.com/bluenovate.ng" style="color:#022d5a; font-size: 40px; margin-right: 15px;"><i
            class="fa fa-instagram"
            style="color:#022d5a;"></i></a>
    <a href="https://twitter.com/bluenovate_" style="color:#022d5a; font-size: 40px; margin-right: 15px;"><i
            class="fa fa-twitter"
            style="color:#022d5a;"></i></a>
            <a href="https://chat.whatsapp.com/l1Ui4jk8OteFKKpqbYAGwz/" style="color:#022d5a; font-size: 40px; margin-right: 15px;"><i
                    class="fa fa-whatsapp" style="color:#022d5a;"></i></a>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<%- include('partials/footer.ejs') %>