<%- include('partials/layout.ejs') %>
<title>Error | Bluenovate</title>
<div class="container mt-4">
    <h1>An Error Occurred <i class="fa fa-frown-o"></i> </h1>
    <p>We Could Not Find The Page That You Were looking for, Go Home And Try Something Else</p>
    <a href="/" class="btn btn-danger">Go Home</a>
</div>
