<%- include('partials/layout.ejs') %>
<title>Login Error | Bluenovate</title>
<div class="container mt-4">
    <h1>Error Logging In <i class="fa fa-frown-o"></i> </h1>
    <p>There Was An Error In Loging Into The Account, check username or password then try again or go back home, this section is for admin users only, Go Home If You are not An Admin</p>
    <a href="/users/login" class="btn btn-danger">Try Again</a>
    <a href="/" class="btn btn-secondary">Go Home</a>
</div>
