<%- include('partials/layout.ejs') %>
<title>Login | Bluenovate</title>

<div class="container">
    <h1 class="mb-4 mt-4">Login</h1>
    <form action="/users/login" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
            </div>
            <br>
            <input type="submit" value="Log In" class="btn btn-primary">
    </form>
</div>