<%- include('partials/layout.ejs') %>
<title>Register Join</title>
<div class="container">
  <h1>Register</h1>
  <form method="POST" action="/users/registerjoin">
    <div id="form-group">
      <label>Name:</label>
      <input class="form-control" name="name" type="text" required />
    </div>
    <div id="form-group">
      <label>Email:</label>
      <input class="form-control" name="email" type="email" required />
    </div>
    <div id="form-group">
      <label>Username</label>
      <input class="form-control" name="username" type="text" required />
    </div>
    <div id="form-group">
      <label>Password</label>
      <input class="form-control" name="password" type="password" required />
    </div>
    <div id="form-group">
      <label>Confirm</label>
      <input class="form-control" name="password2" type="password" required />
    </div><br />
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>

</div>

